footer {
	background-color: transparent;
	max-width: 1100px;
	margin: 0 auto 5rem auto;
	padding: 2rem;

	.brand {
		font-size: 3rem;
		font-weight: 500;
	}

	ul {
		list-style: none;
		margin: 1rem 0;

		li {
			a {
				color: white;
				text-decoration: none;
				font-size: 1.5rem;
				padding: 8px 0;
				display: inline-block;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}

	p {
		font-size: 1.2rem;
		color: #888;
	}
}
