.particles {
	img {
		position: absolute;
		width: 90px;
		height: auto;
		object-fit: contain;

		@media screen and (max-width: 600px) {
			& {
				width: 50px;
			}
		}
	}
}

.slides {
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 2rem auto;
	gap: 2rem;
	padding: 2rem;

	.slide {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		border-radius: 2rem;

		aspect-ratio: 16 / 9;
		overflow: hidden;

		position: sticky;
		top: 4rem;
		padding: 2rem;

		box-shadow: 0 0 4rem rgba(0, 0, 0, 0.5);
		color: black;
		background-color: white;

		background-image:
			radial-gradient(circle at 0% 100%, rgb(255, 254, 228) 50%, transparent 60%),
			radial-gradient(circle at 100% 180%, rgb(255, 225, 194) 50%, transparent 60%),
			radial-gradient(circle at 80% 0%, rgb(206, 242, 255) 50%, transparent 60%),
			radial-gradient(circle at 10% 25%, rgb(234, 207, 255) 50%, transparent 60%);

		.brand {
			background: linear-gradient(90deg, #ff5f5f, #f49200);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			font-weight: 700;
		}

		h1 {
			font-size: 4rem;
			text-align: center;
			max-width: 900px;
			font-weight: 600;

			@media screen and (max-width: 600px) {
				font-size: 2.5rem;
			}
		}

		.safe-text {
			text-align: left;
			max-width: 60%;

			.muted {
				color: #777;
			}

			.highlight {
				background-color: yellow;
				font-weight: 500;
			}

			.center {
				text-align: center;
			}

			.first {
				font-size: 2.5rem;
				font-weight: 500;
				line-height: 1.5;

				@media screen and (max-width: 600px) {
					font-size: 2rem;
					line-height: 1.2;
				}
			}

			.second {
				font-size: 1.8rem;
				font-weight: 400;
				line-height: 1.5;

				@media screen and (max-width: 600px) {
					font-size: 1.5rem;
					line-height: 1.2;
				}
			}

			@media screen and (max-width: 600px) {
				& {
					max-width: 100%;
				}
			}
		}

		.question {
			max-width: 600px;
			width: 100%;
			margin: 3rem auto;
			border: 1px solid #ccc;
			border-radius: 100rem;
			background: white;
			display: flex;
			align-items: center;
			padding: 6px 2rem;

			svg {
				width: 36px;
				height: 36px;
				color: #777;
			}

			input {
				padding: 1rem 1.2rem;
				width: 100%;
				border: none;
				outline: none;
				background: transparent;
				font-family: inherit;
				font-size: 1.25rem;

				@media (max-width: 600px) {
					& {
						font-size: 1.1rem;
						padding: 0.75rem 1rem;
					}
				}
			}
		}

		.showcase {
			background-color: white;
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 1rem;
			padding: 1rem;
			width: 100%;
			max-width: 80%;
			border-radius: 1rem;

			.options {
				display: flex;
				flex-direction: column;
				overflow: hidden;

				.option {
					display: flex;
					flex-direction: column;
					cursor: pointer;
					padding: 1rem;
					border-radius: 1rem;
					transition: background-color 0.15s;
					overflow: hidden;

					h3 {
						font-size: 1.25rem;
						font-weight: 500;
						margin-bottom: 0.5rem;
					}

					p {
						color: #555;
						white-space: nowrap;
						overflow: hidden;
						text-overflow: ellipsis;
						margin-bottom: 0.5rem;
					}

					span {
						font-size: 0.9rem;
						color: #999;
					}

					&:hover,
					&.active {
						background-color: #f7f7f7;
					}
				}
			}

			@media (max-width: 600px) {
				& {
					max-width: 100%;
					grid-template-columns: 1fr;
					gap: 2rem;
				}
			}

			.preview {
				width: 100%;
				height: 350px;
				border-radius: 1rem;
				overflow: hidden;

				video {
					width: 100%;
					height: 100%;
					border-radius: 1rem;
					object-fit: contain;
				}

				img {
					width: 100%;
					height: 100%;
					border-radius: 1rem;
					object-fit: cover;
				}
			}
		}

		.cta a {
			padding: 1rem 2rem;
			font-size: 1.25rem;
			font-weight: 500;
			color: white;
			background-color: black;

			&:first-child {
				color: black;
				background-color: white;
				border: 2px solid rgba(0, 0, 0, 0.4);
			}
		}

		&:first-child {
			background: black;
			color: white;

			video {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 100%;
				height: 100%;
				object-fit: cover;
				z-index: -1;

				@media (max-width: 896px) {
					object-fit: contain;
				}
			}

			.hint {
				position: absolute;
				bottom: 2rem;
				color: #999;
				font-size: 1.5rem;
				font-weight: 400;
				display: flex;
				gap: 10px;
				align-items: center;
				flex-direction: column;
			}
		}

		@media (max-width: 896px) {
			& {
				aspect-ratio: auto;
				min-height: 70vh;
				padding: 2rem;
			}
		}
	}

	@media screen and (max-width: 600px) {
		& {
			padding: 1rem;
			margin: 1rem auto;
		}
	}
}
