* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Open Sans',
    'Helvetica Neue',
    sans-serif;

  background:
    radial-gradient(circle at 25% 25%, rgba(213, 159, 255, 0.2) 50%, transparent 60%),
    radial-gradient(circle at 0% 100%, rgba(155, 177, 255, 0.2) 50%, transparent 60%),
    radial-gradient(circle at 100% 180%, rgba(255, 176, 176, 0.2) 50%, transparent 60%),
    radial-gradient(circle at 80% 0%, rgba(166, 231, 255, 0.2) 50%, transparent 60%);

  color: #222;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

a {
  color: #5555ff;
  text-decoration: none;
}
