* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: black;
	color: white;
	font-size: 16px;
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		'Segoe UI',
		Roboto,
		Oxygen,
		Ubuntu,
		Cantarell,
		'Open Sans',
		'Helvetica Neue',
		sans-serif;
}

.cta {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 14px;

	.login,
	.signup {
		padding: 0.5rem 1rem;
		border: 1px solid white;
		border-radius: 100rem;
		text-decoration: none;
		font-size: 1.05rem;
		background-color: black;
		color: white;
		white-space: nowrap;
	}

	.signup {
		background-color: white;
		color: black;
	}

	&.absolute {
		position: absolute;
		bottom: 25%;
	}
}

.page {
	max-width: 1100px;
	margin: 5rem auto;
	padding: 2rem;

	h1 {
		font-size: 4rem;
		margin-bottom: 1rem;
	}

	p {
		font-size: 1.2rem;
		margin-bottom: 2rem;
		line-height: 1.6;
	}

	.last-updated {
		font-size: 1rem;
		color: #888;
		margin-bottom: 3rem;
	}
}
